<%- include('./inc/head', {title: 'Create New User' }) %>
    <link rel="stylesheet" href="/styles/new-user.css">
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    </head>

    <body>
        <header class="navbar">
            <%- include('./inc/nav-items') %>
        </header>

        <div class="container">
            <%- include('./inc/new-user-form', {error}) %>
        </div>
    </body>

    </html