<div class="logo"><a href="/"><img src="/img/rhv logo.png" alt="logo"></a></div>
<div class="nav-links">
    <a href="/admin/dashboard">Dashboard</a>
    <a href="/admin/new-user">Create User</a>
    <a href="/logout">Logout</a>
</div>