<div class="form-card">
    <h2>Reset Password</h2>
    <% if(error) { %>
        <div class="error-message">
            <%= error %>
        </div>
        <% } %>

            <form action="/admin/reset/<%= user._id %>" method="POST">

                <div class="input-group">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter Password">
                </div>

                <div class="input-group">
                    <label>Confirm Password</label>
                    <input type="password" name="confirmpassword" placeholder="Confirm Password">
                </div>

                <button type="submit" class="btn">Update User</button>

            </form>
</div>