<%- include('inc/head', {title: 'Archive - FileHub' }) %>
    <link rel="stylesheet" href="/styles/files.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/dashboard.css">
    </head>

    <body>

        <!-- Navbar -->
        <header class="navbar">
            <%- include('inc/nav-items', {user}) %>
        </header>

        <div class="container">

            <!-- Files Section -->
            <%- include('inc/archive-items', {files}) %>

        </div>

    </body>

    </html>