/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}

/* Navbar */
.navbar {
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  color: #2d6cdf;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

/* Container */
.container {
  width: 85%;
  margin: 30px auto;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card a {
  text-decoration: none;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px;
}

th {
  background: #f1f1f1;
}

tr {
  border-bottom: 1px solid #ddd;
}

/* Buttons */
.btn {
  background: #2d6cdf;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.update {
  background: #2d6cdf;
}

.delete {
  background: #e74c3c;
}

.cancel {
  background: #999;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  margin: 100px auto;
  border-radius: 10px;
  text-align: center;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-actions {
  margin-top: 10px;
}
