/* Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}

/* Navbar */
.navbar {
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.logo a {
  color: #2d6cdf;
  text-decoration: none;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  padding: 0.65rem 0.5rem;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

.nav-links a:hover {
  background-color: #2d6cdf;
  color: white;
  opacity: 0.9;
  transform: scale(1.05);
}

/* Container */
.container {
  width: 80%;
  margin: 30px auto;
}

/* Card */
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card h2 {
  text-align: center;
}

/* Upload Box */
.upload-box {
  border: 2px dashed #ccc;
  height: 16rem;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
}

.upload-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-box input {
  margin: 10px 0;
  margin-right: -10.5rem;
}

/* Buttons */
.btn {
  background: #2d6cdf;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

button.btn {
  transition: all 0.45s ease-in-out;
}

button.btn:hover {
  transform: scale(1.05);
}

.download {
  background: #2d6cdf;
}

.delete {
  background: #e74c3c;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  text-align: left;
  padding: 12px;
}

th {
  background: #f1f1f1;
}

tr {
  border-bottom: 1px solid #ddd;
}
